/*
 * Copyright (c) 2022 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 * Application overlay for creating quadrature decoder device instance
 */
#include <zephyr/dt-bindings/sensor/qdec_stm32.h>

/ {
	aliases {
		qdec0 = &qdec;
	};
};

&timers2 {
	st,prescaler = <1000>;
	status = "okay";

	qdec: qdec {
		compatible = "st,stm32-qdec";
		status = "okay";
		st,counts-per-revolution = <100>;
		st,input-filter-level = <NO_FILTER>;
		pinctrl-0 = <&tim2_ch1_remap1_pwm_in_pa15 &tim2_ch2_remap1_pwm_in_pb3>;
		pinctrl-names = "default";
	};
};