/*
 * Copyright (c) 2022 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 * Application overlay for creating quadrature decoder device instance
 */
#include <zephyr/dt-bindings/sensor/qdec_stm32.h>

/ {
	aliases {
		qdec0 = &qdec;
	};
};

&timers2 {
	st,prescaler = <1000>;
	status = "okay";

	qdec: qdec_t2_m1 {
		status = "okay";
		st,counts-per-revolution = <100>;
		st,input-filter-level = <NO_FILTER>;
	};
};