SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="ttyYahboom0"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="PICAR2_SHELL_0001", SYMLINK+="ttyYahboom1", TAG+="systemd", ENV{SYSTEMD_WANTS}+="zephyr-shell.servi>
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="PICAR2_LIDAR_0001", SYMLINK+="ldlidar"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="PICAR2_LD07_0001", SYMLINK+="ld07"
