/*
 * Copyright (c) 2020 WuhanStudio
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f1/stm32f103Xc.dtsi>
#include <st/f1/stm32f103r(c-d-e)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "yahboom_ros_stm32f103 board";
	compatible = "stm32f103";

	chosen {
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		green_led_1: led_1 {
			gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
			label = "User LD1";
		};
	};
	gpio_keys {
		compatible = "gpio-keys";
		user_button: button {
			label = "User";
			gpios = <&gpiod 2 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		led0 = &green_led_1;
		sw0 = &user_button;
		watchdog0 = &iwdg;
		die-temp0 = &die_temp;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	mul = <9>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(72)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
	/* usbpre not set: USB clock = 72 / 1.5: 48MHz */
};

/* serial servo port */
&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/* SBUS RX only */
&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <100000>;
};

/* FTDI or I2C port */
&usart3 {
	/* USB pins */
	// pinctrl-0 = <&usart3_tx_remap1_pc10 &usart3_rx_remap1_pc11>;
	/* I2C pins SCL=TX SDA=RX */
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
	pinctrl-names = "default";
	current-speed = <921600>;
	status = "okay";
};

&timers1 {
	st,prescaler = <1000>;
	status = "disabled";

	pwm_t1_m3_m4: pwm {
		status = "disabled";
		pinctrl-0 = <&tim1_ch4_pwm_out_pa11 &tim1_ch1_pwm_out_pa8 &tim1_ch2n_remap1_pwm_out_pb0 &tim1_ch3n_remap1_pwm_out_pb1>;
		pinctrl-names = "default";
	};

};

&timers2 {
	st,prescaler = <1000>;
	status = "disabled";

	qdec_t2_m1 {
		compatible = "st,stm32-qdec";
		status = "disabled";
		pinctrl-0 = <&tim2_ch1_remap1_pwm_in_pa15 &tim2_ch2_remap1_pwm_in_pb3>;
		pinctrl-names = "default";
	};
	qdec_t2_m3_alt {
		compatible = "st,stm32-qdec";
		status = "disabled";
		pinctrl-0 = <&tim2_ch1_pwm_in_pa0 &tim2_ch2_pwm_in_pa1>;
		pinctrl-names = "default";
	};
};

&timers3 {
	status = "disabled";
/*
	pwm_t3_m1_m2_alt: pwm {
		status = "disabled";
		pinctrl-0 = <&tim3_ch1_remap3_pwm_out_pc6 &tim3_ch2_remap3_pwm_out_pc7 &tim3_ch3_remap3_pwm_out_pc8 &tim3_ch4_remap3_pwm_out_pc9>;
		pinctrl-names = "default";
	};
*/
/*
	pwm_t3_m1_m4_alt: pwm {
		status = "disabled";
		pinctrl-0 = <&tim3_ch1_remap3_pwm_out_pc6 &tim3_ch2_remap3_pwm_out_pc7 &tim3_ch3_pwm_out_pb0 &tim3_ch4_pwm_out_pb1>;
		pinctrl-names = "default";
	};
*/
	pwm_rgb: pwm {
		status = "disabled";
		pinctrl-0 = <&tim3_ch2_remap2_pwm_out_pb5>;
		pinctrl-names = "default";
	};

	qdec_t3_m4 {
		compatible = "st,stm32-qdec";
		status = "disabled";
		pinctrl-0 = <&tim3_ch1_pwm_in_pa6 &tim3_ch2_pwm_in_pa7>;
		pinctrl-names = "default";
	};
};

&timers4 {
	st,prescaler = <1000>;
	status = "disabled";

	qdec_t4_m2 {
		compatible = "st,stm32-qdec";
		status = "disabled";
		pinctrl-0 = <&tim4_ch2_pwm_in_pb7 &tim4_ch1_pwm_in_pb6>;
		pinctrl-names = "default";
	};
};

&timers5 {
	st,prescaler = <1000>;
	status = "disabled";

	qdec_t5_m3 {
		compatible = "st,stm32-qdec";
		status = "disabled";
		pinctrl-0 = <&tim5_ch1_pwm_in_pa0 &tim5_ch2_pwm_in_pa1>;
		pinctrl-names = "default";
	};
};

&timers8 {
	st,prescaler = <1000>;
	status = "disabled";

	pwm_t8_m1_m2: pwm {
		status = "disabled";
		pinctrl-0 = <&tim8_ch1_pwm_out_pc6 &tim8_ch2_pwm_out_pc7 &tim8_ch3_pwm_out_pc8 &tim8_ch4_pwm_out_pc9>;
		pinctrl-names = "default";
	};
/*
	pwm_t8_m4_alt: pwm {
		status = "disabled";
		pinctrl-0 = <&tim8_ch2n_pwm_out_pb0 &tim8_ch3n_pwm_out_pb1>;
		pinctrl-names = "default";
	};
*/
};

/* OLED i2c port*/
&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
	pinctrl-names = "default";
	status = "disabled";
	// status = "okay"; // disable if occupied by usart3
	clock-frequency = <I2C_BITRATE_FAST>;
};

/* ICM20948 MPU*/
&spi2 {
	pinctrl-0 = <&spi2_nss_master_pb12 &spi2_sck_master_pb13 &spi2_miso_master_pb14 &spi2_mosi_master_pb15>;
	pinctrl-names = "default";
	status = "disabled";
};

/* on CAN port */
&i2c1 {
    /* disable can1 if i2c1 is enabled */
	pinctrl-0 = <&i2c1_scl_remap1_pb8 &i2c1_sda_remap1_pb9>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "disabled";
};

&can1 {
	/*
        disable i2c1 if can1 is enabled
		pb8 i2c1_scl, tim4_ch3_pwm
		pb9 i2c1_sda, tim4_ch4_pwm
	*/
	pinctrl-0 = <&can_rx_remap1_pb8 &can_tx_remap1_pb9>;
	pinctrl-names = "default";
	status = "disabled";
};

&iwdg {
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB1 0x10000000>,
		 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};

&adc1 {
	pinctrl-0 = <&adc1_in0_pa0>;
	pinctrl-names = "default";
	status = "disabled";
};

&die_temp {
	status = "okay";
};

&pinctrl {
	/* needed to enable PA15 for T2 encoder */
	swj-cfg = "disable";
};


/* for ssd1306_128x32.overlay */
arduino_i2c: &i2c2 {};

