# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

menu "Drivers"
rsource "sensor/Kconfig"
rsource "pwm/Kconfig"
rsource "rc/Kconfig"
rsource "pwm_servo/Kconfig"
endmenu
