/* SPDX-License-Identifier: Apache-2.0 */
#include <zephyr/dt-bindings/sensor/qdec_stm32.h>

/ {
    servo0: nrf-servo0 {
        compatible = "pwm-servo";
        pwms = <&pwm_sw_t3 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
        init_value = <50>;
        min_pulse_us = <600>;
        max_pulse_us = <2500>;
        status = "okay";
    };
};

&timers2 {
	st,prescaler = <1000>;
	status = "okay";

	qdec1: qdec_t2_m1 {
		status = "okay";
		st,counts-per-revolution = <100>;
		st,input-filter-level = <NO_FILTER>;
	};
};

&timers3 {
	st,prescaler = <1000>;
	status = "okay";

	pwm_sw_t3: pwm {
		compatible = "st,stm32-pwm-sw";
		status = "okay";
		label = "servo_pwm";
		gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>,
				<&gpioc 2 GPIO_ACTIVE_HIGH>,
				<&gpioc 1 GPIO_ACTIVE_HIGH>,
				<&gpioc 0 GPIO_ACTIVE_HIGH>;
		channels = <1 2 3 4>;
	};
};

&usart2 {
	current-speed = <100000>;
	parity = "even";
	stop-bits = "2";
	data-bits = <8>;
	status = "okay";
    rc: sbus {
        compatible = "futaba,sbusreceiver";
        label = "RECEIVER0";
        status = "okay";
    };
};
