/*
 * Copyright (c) 2024 Valentyn Shevchenko
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	euart0: uart-emul {
		compatible = "zephyr,uart-emul";
		status = "okay";
		current-speed = <100000>;
		rx-fifo-size = <64>;
		tx-fifo-size = <16>;

		sbus: sbus {
			compatible = "futaba,sbus";
			status = "okay";

			ch_1 {
				channel = <1>;
				type = <INPUT_EV_ABS>;
				zephyr,code = <0>;
			};
			ch_2 {
				channel = <2>;
				type = <INPUT_EV_ABS>;
				zephyr,code = <1>;
			};
		};
	};
};
