# Servo implementation that uses NRFX PWM driver
#
# Copyright (c) 2021 Daniel Veilleux
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

config PWM_SERVO
	bool "Servo implementation that uses Zephyr PWM driver"
	default n
	help
	  Enable pwm servo driver

if PWM_SERVO

config PWM_SERVO_INIT_PRIORITY
	int "Servo init priority"
	default 90
	help
	  Servo initialization priority

endif #PWM_SERVO
