# Copyright (c) 2022 Jonathan Hahn
# SPDX-License-Identifier: Apache-2.0

config INPUT_SBUS_RECEIVER
    bool "RC S.Bus driver"
    # depends on UART_USE_RUNTIME_CONFIGURE
    select UART_INTERRUPT_DRIVEN
    help
      Enable S.Bus RC receiver driver.
