# Copyright 2023 Google LLC
# SPDX-License-Identifier: Apache-2.0

config INPUT_STM32_QDEC
	bool "STM32 QDEC input driver"
	default y
	depends on DT_HAS_ST_STM32_INPUT_QDEC_ENABLED
	select USE_STM32_LL_TIM
	help
	  STM32 Quadrature Decoder input driver.
